@model List<FreelanceMarketPlace.Models.Entities.Job>

        @foreach (var job in Model)
        {
            <div class=" mb-4">
                <div class="card h-100 shadow-sm border">
                    <div class="card-body">
                        <h5 class="card-title limited-text">@job.JobDescription</h5>
                        <p class="card-text text-capitalize">
                            <small class="text-muted d-block mb-1">Posted on @job.CreatedOn.ToString("MMM dd, yyyy")</small>
                            <strong>Budget:</strong> $@job.JobBudget.ToString() <br />
                            <strong>Experience Level:</strong> @job.JobLevel <br />
                            <strong>Completion Time:</strong> @job.CompletionTime <br />
                        </p>
                        <partial name="_JobSkills" model="@job.Skills" />
                        @if (ViewBag.role == "freelancer")
                        {
                            <a href="JobDetails/@job.JobId" class="text-success text-decoration-none">See more...</a>

                        }

                        @if (ViewBag.role == "client")
                        {
                                <a href="GetJob/@job.JobId" class="text-success text-decoration-none">See more...</a>
                            <div class="mt-2">
                                <a href="UpdateJob/@job.JobId" class="btn btn-sm btn-warning">Update</a>
                                <button class="btn btn-sm btn-danger" onclick="deleteJob(@job.JobId)">Delete</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
   