@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Path to your layout file
    ViewData["Title"] = "All Jobs";
    var jobs = ViewData["jobs"] as List<FreelanceMarketPlace.Models.Entities.Job>;
}


<div class="container mt-4">
    <h1 class="mb-4 text-center">@ViewData["Title"] </h1>

    @if (jobs != null)
    {
        <div class="row">
            @foreach (var job in jobs)
            {
                <div class="col-md-6  mb-4">
                    <div class="card h-100 shadow-sm border">
                        <div class="card-body">
                            <h5 class="card-title limited-text">@job.JobDescription</h5>
                            <p class="card-text">
                                <strong>Budget:</strong> $@job.JobBudget.ToString() <br />
                                <strong>Level:</strong> @job.JobLevel <br />
                                <strong>Completion Time:</strong> @job.CompletionTime <br />
                                <small class="text-muted">Posted on @job.CreatedOn.ToString("MMM dd, yyyy")</small>
                            </p>
                            <div class="jobSkills">
                                @if (job.Skills != null)
                                {
                                    @foreach (var skill in job.Skills)
                                    {
                                        <span class="badge badge-pill mb-2 skill">@skill</span>
                                    }
                                }


                            </div>
                            <a href="@Url.Action("JobDetails", new { id = job.JobId })" class="btn btn-success">See more</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            No jobs available.
        </div>
    }
</div>
